body {
	background-color: #ace7dd;
}
header {
	height: 80px;
	background-color: #ace7dd;
	border-bottom: 7px solid #dee5ef;
}

p {
	max-height: 100px;
	margin: 0 auto;
	line-height: 30px;
	overflow: hidden;
	border-bottom: 2px solid #dee5ef;
	margin-bottom: 70px;
  color: black;
}

.row {
	padding: 50px;
  justify-content: center;
  margin-top: -25px;
}

.space{
  padding-top: -250px;
}

h1 {
	color: #4d83d1;
	font-size: 75px;
	text-align: center;
  font-family: 'Heebo', sans-serif;
}

.news {
	overflow: hidden;
	max-width: 100%;
	max-height: 350px;
}

.gradient { 
padding-top: 300px; 
padding-left: 1em;
height: 850px; 
background: linear-gradient(transparent, #202020), url("news-filler.jpg") no-repeat center; 
background-size: cover; 
}

.col-md-6 {
	max-height: 30em;
	overflow: scroll;
}

.containter-fluid {
	
	display: flex;
  	align-content: center;
  	align-items: center;
  	flex-direction: column;
  	flex-wrap: nowrap;
  	height: 100%;
  	justify-content: space-around;
  	position: relative;
  	width: 100%;
}

space1 {

}





body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("news-filler.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("news-filler.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("new-filler.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

h6 {
  color: black;
  font-size: 19px;
}
h4 {
  color: black;

}

.question {
  color:black;
  font-size: 17px;
}

