body {
	background-color: #e2edff;
}
header {
	height: 80px;
	background-color: #e2edff;
	border-bottom: 7px solid #dee5ef;
}



p {
	max-height: 100px;
	margin: 0 auto;
	line-height: 30px;
	overflow: hidden;
	border-bottom: 2px solid #dee5ef;
	margin-bottom: 70px;
}

.row {
	padding: 50px;
	justify-content: center;
}


h1 {
	color: #4d83d1;
	font-size: 75px;
	text-align: center;
}

.news {
	overflow: hidden;
	max-width: 100%;
	max-height: 350px;
}

.gradient { 
padding-top: 300px; 
padding-left: 1em;
height: 850px; 
background: linear-gradient(transparent, #202020), url("news-filler.jpg") no-repeat center; 
background-size: cover; 

}

.col-md-6 {
	max-height: 30em;
	overflow: scroll;
}