body {
	background-color: #e2edff;
}
header {
	height: 80px;
	background-color: #e2edff;
	border-bottom: 7px solid #dee5ef;
}



p {
	max-height: 100px;
	margin: 0 auto;
	line-height: 30px;
	overflow: hidden;
	border-bottom: 2px solid #dee5ef;
	margin-bottom: 70px;
}

.row {
	padding: 50px;
	justify-content: center;
}


h1 {
	color: #4d83d1;
	font-size: 75px;
	text-align: center;
}

.news {
	overflow: hidden;
	max-width: 100%;
	max-height: 350px;
}

.gradient { 
padding-top: 300px; 
padding-left: 1em;
height: 850px; 
background: linear-gradient(transparent, #202020), url("news-filler.jpg") no-repeat center; 
background-size: cover; 

}

.col-md-6 {
	max-height: 30em;
	overflow: scroll;

}

h5 {
	font-size: 30px;

}

h6 {
	line-height: 60px;
}

.row1 {
	padding: 10px;
	justify-content: center;
}

.col1-md-4 {
	overflow:scroll;
	display: inline-block;
	margin-right: 39px;

}

.col1-md-6 {
	vertical-align: top;
	display: inline-block;
}

.question {
	border: 1px solid rgb(124, 120, 120);
	width: 1000px;
	padding: 40px;
	margin:4px;
	background-color: rgba(255, 255, 255, 0.678);
}

h7 {
	font-size: 30px;
}

.search-input {
	width: 920px !important;
}